   @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ########### html element styling ############ */

html{
    /* font-size: 16px; */
    /* 16px == 100% */
    /* we need 10px so proportion approach */
    /* font-size: 10px; */
    font-size: 62.5%;

}

body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
}

ul li{
    list-style: none;
}

a{
    /* 16px == 1.6 rem i.e. we did 16 /10 */
    font-size: 1.6rem;
    text-decoration: none;
}

p, li{
    font-size: 1.6rem;
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
}

h1,h2,h3{
    margin-bottom: 0.5em;
    letter-spacing:0.15em;
    font-weight: 500;
}

/* ############# Utility Classes ################## */

.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.lg-heading{
    font-size: 3.5rem;
}

.md-heading{
    font-size: 2.2rem;
}

.text-red{
    color: #e63946;
}

.text-light{
    color: #f4f4f4;
}

.text-black{
    color: #333333;
}

.text-gray{
    color: #555555;
}

.bg-dark{
    background-color: #263238;
}

/* ######### buttton ######### */

.btn{
    display: inline-block;
    padding: 0.5em 1.5em;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0.5em 0;
}

.btn-primary{
    background-color: #fff;
    border-radius: 100px;
}

.btn-primary:hover{
    background-color: #ddd;
}

.btn-secondary{
    background-color: #fff;
    color: #e63946;
    border-radius: 1.5em;
    border: 2px solid #e63946;
}

.btn-secondary:hover{
    background-color: #fcf3f2;
}

/* ########## header styling ########### */

header{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    height: 95vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../img/header-image.jpg');
    background-position: center;
    background-size: cover;
     background-repeat: no-repeat;
}

.navbar{
    padding: 1rem;
}

.navbar .logo{
    float: left;
}

.navbar .nav-items{
    float: right;
    margin-top: 1rem;
}

.navbar .nav-item{
    display: inline-block;
    padding: 1rem;
    text-transform: uppercase;
}

.navbar a{
    padding-bottom: 0.3rem;
}

.navbar a:hover{
    border-bottom: 1px solid #f4f4f4;
}

.navbar a:link,
.navbar a:visited{
    color: #f4f4f4;
}

.navbar::after{
    content: "";
    clear: both;
    display: block;
}

/* ######### header content styling ######### */

.header-content h1{
    text-transform: uppercase;
    font-weight: 700;
}

.header-content p{
    text-transform: uppercase;
}

.header-content{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

/* ######## showcase section styling ########### */

.showcase{
    background: #ddd;
    padding: 10rem;
}

.row{
    height: 350px;
    background: #fff;
    box-shadow: 0px 0px 20px 0px #aaa;
}

.row1{
    margin-bottom: 10rem;
}

.row1 .img-box, .row2 .text-box{
    float: left;
    width: 50%;
}

.row2 .img-box, .row1 .text-box{
    float: right;
    width: 50%;
}

.row .img-box{
    height: 100%;
}

.row .text-box{
    padding: 3rem;
}

.row .img-box img{
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}

/* ####### features section styling ########  */
.features{
    padding: 10rem 0;
}

.box-wrapper{
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.308) ;
}

.box{
    width: 33.333333%;
    float: left;
    padding: 2rem;
    text-align: center;
}

.box-1, .box-3{
    background-color: #263238;
    color: #fff;
}

.box-2{
    background: linear-gradient(25deg,#d64c7f,#ee4758 50%);
    color: #fff;
}

.box-wrapper::after{
    content: "";
    display: block;
    clear: both;
}

/* ####### footer section styling ####### */

.footer{
    background: #263238;
    color: #f4f4f4;
    padding: 2rem;
    text-align: center;
}

.social-media-links i{
    margin: 2rem;
}

/* ##### About Page Styling #### */

.about{
    padding: 5rem 0;
}

.about-heading::after{
    content: "";
    border-bottom: 3px solid #e63946;
    display: block;
    width: 100%;
}

/* #########about wrapper styling############ */

.about-wrapper{
    text-align: center;
    margin-top: 2rem;
}

.about-wrapper .left{
    float: left;
    width: 50%;
}

.about-wrapper .left{
    float: right;
    width: 50%;
}

.about-wrapper::after{
    content: "";
    display: block;
    clear: both;
}

.about-wrapper li::before{
    content: "\2713";
    color: #e63946;
    font-weight: bold;
    padding-right: 1rem;
}

/* ########Counts Styling####### */

.counts{
    margin-top: 3rem;
}

.count-item{
    float: left;
    width: 25%;
    text-align: center;
}

.count-item span{
    color: #e63946;
    font-size: 3rem;
    font-weight: bold;
}

.count-item p{
    font-weight: 700;
    color: #555555;
    font-size: 1.8rem;
}

.counts::after{
    content: "";
    display: block;
    clear: both;
}

/* #######banner######## */

.banner{
    margin-top: 3rem;
    background: linear-gradient(25deg,#d64c7f,#ee4758 50%);
}

.banner-content{
    color: #fff;
    font-weight: 700;
    padding: 2rem;
}

.banner-text{
    float: left;
}



.banner::after{
    content: "";
    display: block;
    clear: both;
}
